[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "==9.7.0"

[dev-packages]
ansible-lint = "==24.2.2"
molecule = "==24.2.1"
molecule-plugins = {version = "==23.5.3", extras = ["docker"]}
