---
- name: Include APT installer helper
  include_tasks: apt_installer.yml
  vars:
    apt_key_url: https://packages.cloud.google.com/apt/doc/apt-key.gpg
    apt_repository: deb https://apt.kubernetes.io/ kubernetes-xenial main
    apt_repository_name: kubernetes
    apt_package_name: kubectl

- include_tasks: bash_completion.yml
