---
- name: "Get dotfile configuration - {{ _dotfile }}"
  ansible.builtin.set_fact:
    _dotfile_config: "{{ dotfiles_configuration[_dotfile] }}"

- name: "Include OS specific tasks - {{ _dotfile }}"
  ansible.builtin.include_tasks: "{{ ansible_os_family | lower }}.yml"
