galaxy_info:
  role_name: jdownloader
  author: egvimo
  description: Installation of JDownloader as Docker container

  license: MIT

  min_ansible_version: 2.10

  platforms:
    - name: Ubuntu
      versions:
        - all
    - name: Debian
      versions:
        - all
    - name: GenericUNIX
      versions:
        - all

  galaxy_tags:
    - jdownloader
