galaxy_info:
  role_name: git_server
  author: egvimo
  description: Installation of a Git server

  license: MIT

  min_ansible_version: 2.10

  platforms:
    - name: Fedora
      versions:
        - all
    - name: Ubuntu
      versions:
        - all
    - name: Debian
      versions:
        - all
    - name: GenericUNIX
      versions:
        - all

  galaxy_tags:
    - linux
    - unix
    - git

dependencies: []
