---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: minidlna-volume
spec:
  accessModes:
    - ReadWriteOnce
  capacity:
    storage: 30Gi
  hostPath:
    path: {{ minidlna_media_path }}
  storageClassName: local-path
  persistentVolumeReclaimPolicy: Retain

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: minidlna-claim
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 30Gi
  volumeName: minidlna-volume

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: minidlna
  labels:
    app: minidlna
spec:
  replicas: 1
  selector:
    matchLabels:
      app: minidlna
  template:
    metadata:
      labels:
        app: minidlna
    spec:
      hostNetwork: true
      containers:
        - env:
            - name: MINIDLNA_MEDIA_DIR
              value: /media
            - name: MINIDLNA_FRIENDLY_NAME
              value: Raspberry
            - name: PUID
              value: "{{ user_uid }}"
            - name: PGID
              value: "{{ user_gid }}"
          image: vladgh/minidlna
          name: minidlna
          volumeMounts:
            - mountPath: /media
              name: minidlna-volume
      restartPolicy: Always
      securityContext:
        runAsUser: {{ user_uid }}
        runAsGroup: {{ user_gid }}
      volumes:
        - name: minidlna-volume
          persistentVolumeClaim:
            claimName: minidlna-claim
