---
- block:
    - name: Include create user helper
      include_role:
        name: helper
        tasks_from: create_user
      vars:
        user_id: "{{ gitea_user_id }}"
        user_name: "{{ gitea_user_name }}"

    - name: Include user info helper
      include_role:
        name: helper
        tasks_from: user_info
      vars:
        user_id: "{{ gitea_user_id }}"

    - name: Ensure data directory exists
      file:
        path: "{{ gitea_data_path }}"
        state: directory
        owner: "{{ gitea_user_id }}"
        group: "{{ gitea_user_id }}"
        mode: "0775"
      become: yes

    - name: Start the container
      community.general.docker_container:
        name: gitea
        image: gitea/gitea:1
        pull: true
        container_default_behavior: compatibility
        user: "{{ user_uid }}:{{ user_gid }}"
        restart_policy: always
        ports:
          - "8080:3000"
          - "2222:22"
        volumes:
          - "{{ gitea_data_path }}:/data"
          - /etc/timezone:/etc/timezone:ro
          - /etc/localtime:/etc/localtime:ro
  tags: gitea
