---
- block:
    - name: Include create user helper
      include_role:
        name: helper
        tasks_from: create_user
      vars:
        user_id: "{{ minidlna_user_id }}"
        user_name: "{{ minidlna_user_name }}"

    - name: Include user info helper
      include_role:
        name: helper
        tasks_from: user_info
      vars:
        user_id: "{{ minidlna_user_id }}"

    - name: Ensure media directory exists
      file:
        path: "{{ minidlna_media_path }}"
        state: directory
        owner: "{{ minidlna_user_id }}"
        group: "{{ minidlna_user_id }}"
        mode: "0775"
      become: yes

    - name: Start the container
      community.general.docker_container:
        name: minidlna
        image: vladgh/minidlna
        pull: true
        container_default_behavior: compatibility
        user: "{{ user_uid }}:{{ user_gid }}"
        restart_policy: always
        network_mode: host
        env:
          MINIDLNA_MEDIA_DIR: /media
          MINIDLNA_FRIENDLY_NAME: Raspberry
        volumes: "{{ minidlna_media_path }}:/media"
  tags: minidlna
