[username]
format = "[$user]($style)@"

[kubernetes]
disabled = {{ 'false' if (dotfiles_starship_kubernetes is defined and dotfiles_starship_kubernetes) else 'true' }}

[custom.cpu_temp]
command = "vcgencmd measure_temp | egrep -o '[0-9]*\\.[0-9]*'"
when = "test -f /usr/bin/vcgencmd"
shell = ["bash", "--noprofile", "--norc"]
symbol = "🌡"
format = "[$symbol ($output)]($style) "
style = "bright-yellow"
disabled = {{ 'false' if (dotfiles_starship_cpu_temp is defined and dotfiles_starship_cpu_temp) else 'true' }}

[custom.df]
command = 'df -h --output=avail "$PWD" | tail -n 1'
when = "true"
shell = ["bash", "--noprofile", "--norc"]
symbol = ""
format = "[$symbol ($output)]($style) "
style = "bright-blue"
disabled = {{ 'false' if (dotfiles_starship_df is defined and dotfiles_starship_df) else 'true' }}

[custom.screen]
command = 'echo "$STY"'
when = 'test "$STY"'
shell = ["bash", "--noprofile", "--norc"]
symbol = "🖵"
format = "[$symbol ($output)]($style) "
disabled = {{ 'false' if (dotfiles_starship_screen is defined and dotfiles_starship_screen) else 'true' }}

[custom.git_email]
command = "git config user.email"
detect_folders = ['.git']
{% if (ansible_os_family | lower) == 'windows' %}
shell = ["C:\Program Files\Git\bin\sh.exe"]
{% else %}
shell = ["bash", "--noprofile", "--norc"]
{% endif %}
format = "by [$output]($style) "
style = "bright-yellow"
disabled = {{ 'false' if (dotfiles_starship_git_email is defined and dotfiles_starship_git_email) else 'true' }}

[directory.substitutions]
"~/Repositories" = ""
"~/Repos" = ""
"~/Documents" = ""
"~/Downloads" = ""
"~/Desktop" = ""
"~" = ""
"/mnt/data/sync" = "痢"
"/mnt/media/downloads" = ""
"/mnt/media/video" = "辶"
