galaxy_info:
  role_name: pi_hole
  author: egvimo
  description: Installation of Pi-hole as Docker container

  license: MIT

  min_ansible_version: 2.10

  platforms:
    - name: Ubuntu
      versions:
        - all
    - name: Debian
      versions:
        - all
    - name: GenericUNIX
      versions:
        - all

  galaxy_tags:
    - pi_hole
