---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: jdownloader-cfg-volume
spec:
  accessModes:
    - ReadWriteOnce
  capacity:
    storage: 1Gi
  hostPath:
    path: {{ jdownloader_cfg_path }}
  storageClassName: local-path
  persistentVolumeReclaimPolicy: Retain

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jdownloader-cfg-claim
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  volumeName: jdownloader-cfg-volume

---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: jdownloader-downloads-volume
spec:
  accessModes:
    - ReadWriteOnce
  capacity:
    storage: 30Gi
  hostPath:
    path: {{ jdownloader_download_path }}
  storageClassName: local-path
  persistentVolumeReclaimPolicy: Retain

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jdownloader-downloads-claim
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 30Gi
  volumeName: jdownloader-downloads-volume

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: jdownloader
  labels:
    app: jdownloader
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jdownloader
  template:
    metadata:
      labels:
        app: jdownloader
    spec:
      containers:
        - env:
            - name: MYJD_USER
              value: {{ jdownloader_myjd_username }}
            - name: MYJD_PASSWORD
              value: {{ jdownloader_myjd_password }}
            - name: MYJD_DEVICE_NAME
              value: Docker@Raspberry
            - name: UMASK
              value: "0002"
          image: jaymoulin/jdownloader
          name: jdownloader
          volumeMounts:
            - mountPath: /opt/JDownloader/cfg
              name: jdownloader-cfg-volume
            - mountPath: /opt/JDownloader/Downloads
              name: jdownloader-downloads-volume
      restartPolicy: Always
      securityContext:
        runAsUser: {{ user_uid }}
        runAsGroup: {{ user_gid }}
      volumes:
        - name: jdownloader-cfg-volume
          persistentVolumeClaim:
            claimName: jdownloader-cfg-claim
        - name: jdownloader-downloads-volume
          persistentVolumeClaim:
            claimName: jdownloader-downloads-claim
