name: Molecule Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      ANSIBLE_FORCE_COLOR: 1

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python 3
        uses: actions/setup-python@v2
        with:
          python-version: "3.x"

      # TODO Remove six after dependencies fix
      - name: Install dependencies
        run: |
          pip3 install -r requirements.txt
          pip3 install six

      - name: Run molecule tests
        run: molecule test --all
